body {
    font-family: Arial, sans-serif;
    background-color: #e1e6ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 210px;
    width: 520px;
    color: aliceblue;
    font-weight: bold;
    background-color: #af7deb;
    padding: 10px;
}


.container {
    padding: 20px;
    width: 400px;
}

#taskForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: aliceblue;
    padding: 20px;
    max-height: fit-content;
    width: 500px;
    
}
select {
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid orange;
}
.sort, .filter {
    font-weight: bolder;
    margin-left: 70px;

}
#taskForm input {
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid black;
    margin-left: 70px;
    margin-bottom: 15px;
    
}

button {
    background-color: #af7deb;
    color: white;
    border: none;
    border-radius: 10px;
    height: 30px;
    /* display: inline-block; */
    font-size: 16px;
    width: fit-content;
    margin: auto;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding-left: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;

    align-items: center;

}

li.completed {
    text-decoration: line-through;
    color: #888;
}

/* .task-actions button {
    margin-left: 5px;
} */